* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    background: url(Wallpaper.jpg) no-repeat;
    background-size: cover;

    overflow: hidden;

}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);

}

.wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 40%;
    width: 40%;
    float: left;
    margin-left: 5rem;
    margin-top: 2.5rem;
    border-radius: 25px;
}

#streetView {
    height: 40%;
    width: 40%;
    float: right;
    margin-right: 5rem;
    margin-top: 2.5rem;
    border-radius: 25px;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
    color: white;
    padding: 25px;
}

#travel{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    color: white;
}

#distance{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-style: italic;
}

#floating-panel-distance{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: large;
    color: white;
}

#floating-panel-start {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: .5rem;
    box-sizing: border-box;

}

#but, #but2{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border-radius: 25px;
}

input[type=text] {
    padding: 20px;
    border-radius: 20px;
}

#calcDist, #busStop {
    padding: 20px;
    border-radius: 20px;
}