* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    text-indent: 45%;
    vertical-align: bottom;
    line-height: 5;
    font-size: 30px;
    margin: 0;
}

.wrapper {
    background: url(Background.jpg) no-repeat;
    background-size: cover;
    height: 94vh;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.nav-name {
    height: auto;
    padding: 20px 50px;
    color: white;
    margin: fill;
    line-height: 40px;
    font-weight: 900;
    font-size: 150%;
}


.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: darkslateblue;
    color: white;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.prednaska {
    background-color: green;
}

.cviko {
    background-color: lightblue;
}

.telesna {
    background-color: yellow;
}