* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(Wallpaper.png) no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 38%;
    top: 250px;
    width: 25%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 100%;
    text-align: center;
    align-items: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:red;
    text-decoration: none;
    cursor: pointer;
}
#modalTitle {
    text-align: center;
}

h5 {
    margin-top: 30px;
}